.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.dotorg{
  height: 15px;
  width: 15px;
  background-color: #c7c7c7;
  border-radius: 50%;
  display: inline-block;
}
.dotnew{
  height: 15px;
  width: 15px;
  background-color: #7d7d7d;
  border-radius: 50%;
  display: inline-block;
}
.dotcan{
  height: 15px;
  width: 15px;
  background-color: #ec6157;
  border-radius: 50%;
  display: inline-block;
}
.dothal{
  height: 15px;
  width: 15px;
  background-color: #61d4c4;
  border-radius: 50%;
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
